.Navbar{ /*Barra de navegação*/
  position: relative;
  display: flex;
  width: 100%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #000;
  box-shadow: 0 4px 6px rgba(17, 161, 60, 0.822);
  transition: transform 0.3s ease, opacity .3s ease; /* Transição suave */
}



/*Barra visível*/
.Navbar.show {
  transform: translateY(0);
  opacity: 1;
}

/*Barra não visível*/
.Navbar.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.Navbar_logo { /*Logo*/
    font-size: 2.3rem;
    font-weight: bold;
    color: #fff;
  }

  .logo_cell {
    color: #00FF00; /*Cor da logo*/
  }

  .Navbar_links {
    display: flex;
    list-style: none;
    gap: 40px;
    flex: 1; 
    justify-content:right;
  }

  .Navbar_links a:hover {
    color: #00FF00; /*Cor ao passar o mouse*/
    font-weight: 500;
  }

  .Navbar_links a {
    text-decoration:none;
    display: flex;
    color: #fff;
    font-weight: 500;
    margin-right: 20px;
    transition: color 0.3s ease;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu { /*Menu dos produtos*/
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 10px;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(206, 9, 9, 0.1);
    z-index: 2000;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  
  .dropdown-menu li a {
    color: #000000;
    font-size: 14px;
  }

  .dropdown-item-image {
    width: 50px; /*Tamanho da imagem dos produtos*/
    height: auto;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .dropdown-menu li a:hover { /*Cor dos produtos*/
    color: #00FF00;
  }

  .Navbar-contato a {
    display: inline-flex;
    background-color: #00FF00;
    color: rgb(0, 0, 0);
    padding: 9px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .Navbar-contato a:hover {
    background-color: #FF8C00;
    transform: scale(1.05);
  }
  
  .Navbar-contato {
    margin-left: center;
  }

  .Navbar-contato-icon {
    width: 20px;
    height: auto;
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    .Navbar_links {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      margin-top: 20px;
      padding-left: 20px;
  }
  
  .Navbar_links a {
      text-align: left;
      padding: 10px 0;
    }
  }